<template>
  <div class="vue-lightbox">
    <div class="action-panel-wrapper">
      <div class="action-panel" v-if="this.chosenImages.length > 0">
        <div class="action-icon action-delete" @click="onCloseActionPanel">
          <i class="fas fa-times"></i>
        </div>
        <div class="action-icon" @click="deleteChosenImages">
          <i class="far fa-trash-alt"></i>
        </div>

      </div>
    </div>
    <div style="width: 100%; height: 65px;"></div>
    <ul>
      <li v-for="(image, index) in images">
        <input type="checkbox" :id="_createCheckBoxId(index)" @click="onClickCheckBox(image,index)"/>
        <label :for="_createCheckBoxId(index)">

          <img :data-src="image.src" :alt="image.caption" @click="clickImage(index, _createCheckBoxId(index))"
               class="lazy" :id="image.id">
        </label>
      </li>
    </ul>
    <div class="lightbox-overlay" v-if="overlayActive" @click.self="closeOverlay">
      <div class="holder">
        <transition name="fade">
          <div class="img-tool" id="img-tool" v-if="showImgTool">
            <div class="tool-icon icon-close" @click="closeOverlay">
              <i class="fas fa-times"></i>
            </div>
            <div class="tool-icon" @click="deleteImg">
              <i class="far fa-trash-alt"></i>
            </div>
            <div class="tool-icon">
              <a @click="saveImg(images[currentImage].src)">

                <i class="fas fa-download"></i>
              </a>

              <!--<a :href="images[currentImage].src" download>
                <i class="fas fa-download"></i>
              </a>-->
            </div>
            <div class="tool-icon" @click="zoomOut">
              <i class="fas fa-search-minus"></i>
            </div>
            <div class="tool-icon" @click="zoomIn">
              <i class="fas fa-search-plus"></i>
            </div>

            <div class="tool-icon" @click="rotate">
              <i class="fas fa-redo-alt"></i>
            </div>


          </div>
        </transition>
        <div class="shown-image" id="shown-image">
          <div id="selectedImgWrapper" class="selectedImgWrapper">
            <img :src="images[currentImage].src" :style="transformStyle"
                 @load="findCenterIndex();clickImage(currentImage,_createCheckBoxId(currentImage));initWrapper();initDragMeta();"
                 id="selectedImg"
                 class="selectedImg"
                 @click="showImgTool = !showImgTool"/>
          </div>

        </div>
        <transition name="fade">
          <div class="nav" v-if="nav && showImgTool">
            <a class="prev" nohref @click="prevImage"><span class="fa fa-angle-left"></span></a>
            <a class="next" nohref @click="nextImage"><span class="fa fa-angle-right"></span></a>
          </div>
        </transition>
        <div class="info-panel">
          <div class="info-wrapper" id="info-wrapper">
            <div v-for="(image, index) in images">
              <img :src="image.src" :alt="image.caption" @click="clickImage(index, _createCheckBoxId(index))"
                   :class="{'selected-img':currentImage === index}"
                   :id="getId(index)">
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import mixin from '../mixin';
  import {SavitEventBus} from "../main";

  export default {
    mixins: [mixin],
    props: {
      images: {
        type: Array,
      },
      loop: {
        default: true,
        type: Boolean,
      },
      nav: {
        default: true,
        type: Boolean,
      },
      caption: {
        default: true,
        type: Boolean,
      },
    },
    data() {
      return {
        currentImage: null,
        previousImage: null,
        overlayActive: false,
        centerX: 0,
        scale: 1,
        rotateDeg: 0,
        transformChange: false,
        transformStyle: {
          transform: "scale(1)"
        },
        showImgTool: true,
        dragMeta: {
          imgContainer: null,
          imgWrapper: null,
          isDown: false,
          startX: 0,
          startY: 0,
        },

        chosenImages: [],
        choseCheckBoxIds: [],
        isDeleteMultipleImgs: false
      };
    },
    mounted() {
      const self = this;
      window.addEventListener('keydown', (e) => {
        self.handleGlobalKeyDown(e);
      });

      var fadeoutWaiter;
      window.addEventListener('mousemove', (e) => {
        clearTimeout(fadeoutWaiter);
        this.showImgTool = true;
        fadeoutWaiter = setTimeout(() => {
          // this.showImgTool = false;
        }, 3000)
      });

      window.addEventListener('mouseleave', (e) => {
        clearTimeout(fadeoutWaiter);
        //  this.showImgTool = false;
      });


    },
    beforeUpdate() {
      if (this.isDeleteMultipleImgs) {
        this._resetCheckBox();
      }
    },
    updated() {
      console.log('update');
      if (this.isDeleteMultipleImgs) {
        this.images.forEach(item => {


          var img = document.getElementById(item.id);

          if (img && img.getAttribute('src')) {

            img.setAttribute('src', img.getAttribute('data-src'));
          }
        })
        this.isDeleteMultipleImgs = false;
      }
    },


    methods: {
      _createCheckBoxId(index) {
        return 'imgChbk' + index;

      },
      clickImage(index, checkboxId) {
        console.log("1");
        if (this.chosenImages.length == 0) {
          this.previousImage = this.currentImage;
          this.currentImage = index;
          this.overlayActive = true;
          this.autoRoll(this.currentImage);
          this._resetTransformStyle();
          console.log(document.getElementById(checkboxId).checked);

        }
      },

      nextImage() {
        this._resetTransformStyle();
        if (this.currentImage === (this.images.length - 1)) {
          if (this.loop) {
            this.currentImage = 0;
          }
        } else {
          this.currentImage += 1;
        }

        this.autoRoll(this.currentImage);
        this.resetTranslateStyle("selectedImgWrapper");
      },
      prevImage() {
        this._resetTransformStyle();
        if (this.currentImage === 0) {
          if (this.loop) {
            this.currentImage = (this.images.length - 1);
          }
        } else {
          this.currentImage -= 1;
        }
        this.autoRoll(this.currentImage);
        this.resetTranslateStyle("selectedImgWrapper");
      },
      closeOverlay() {
        this._resetTransformStyle();
        this.overlayActive = false;
        this.centerX = 0;
      },
      handleGlobalKeyDown(e) {
        switch (e.keyCode) {
          case 37:
            this.prevImage();
            break;
          case 39:
            this.nextImage();
            break;
          case 27:
            this.closeOverlay();
            break;
          default:
            break;
        }
      },

      getId(index) {
        return 'imgWrapper-' + index;
      },

      autoRoll(index) {
        var image = document.getElementById('imgWrapper-' + index);

        if (image && image !== "null" && image !== "undefined") {
          if (index === 0) {
            document.getElementById('info-wrapper').style.marginLeft = "0px";
          }

          if (index > this.findCenterIndex() && this._isOverWindowWidth()) {
            document.getElementById('info-wrapper').style.marginLeft = "-" + 50 * (index - this.findCenterIndex()) + "px";
          } else {
            document.getElementById('info-wrapper').style.marginLeft = "0px";
          }
        }

      },

      findCenterIndex() {
        var i;
        var image = document.getElementById('imgWrapper-0');
        var imgWidth = image.offsetWidth;
        for (i = 0; i < this.images.length; i++) {
          if (imgWidth * i > window.innerWidth / 2 - 50) {
            return i > 0 ? i - 1 : 0;
          }
        }
      },

      _isOverWindowWidth() {
        var imgWidth = document.getElementById('imgWrapper-0').offsetWidth;
        return imgWidth * this.images.length > window.innerWidth - 100;
      },

      initWrapper() {
        document.getElementById('info-wrapper').style.width = document.getElementById('imgWrapper-0').offsetWidth * this.images.length + 100 + "px";
      },


      updateScale(rotateDeg, scale) {
        this.transformStyle.transform = this.buildTransformStyle(rotateDeg, scale);
        return this.transformStyle;
      },


      zoomIn() {
        this.scale += 0.5;
        this.updateScale(this.rotateDeg, this.scale);
        this._addListenerForPanning();
      },

      zoomOut() {
        // this.rotateDeg = 0;
        if (this.scale > 1) {
          this.scale -= .5;
          this.updateScale(this.rotateDeg, this.scale);
        }

        if (this.scale === 1) {
          this._resetPanning();
        }
      },

      rotate() {
        if (this.rotateDeg === 360) {
          this.rotateDeg = 0;
        }
        this.rotateDeg += 90;
        this.transformStyle.transform = this.buildTransformStyle(this.rotateDeg, this.scale);
      },
      _resetTransformStyle() {
        this.rotateDeg = 0;
        this.scale = 1;
        this.transformStyle.transform = this.buildTransformStyle(this.rotateDeg, this.scale);

      },

      deleteImg() {
        this.images.splice(this.currentImage, 1);
        if (this.currentImage != 0) {
          this.currentImage--;
        }

        if (this.images.length === 0) {
          this.closeOverlay();
        }
      },
      deleteChosenImages() {
        console.log("delete");
        console.log(this.images);
        console.log(this.chosenImages);
        this.images = this.images.filter( ( el ) => !this.chosenImages.includes( el ) );
        this.isDeleteMultipleImgs = true;
        this.chosenImages = [];
        //SavitEventBus.$emit('deleteChosenImages','');
      },

      saveImg(url) {
        var img = new Image();
        img.crossOrigin = 'Anonymous';
        img.onload = function () {
          var canvas = document.createElement('CANVAS');
          var ctx = canvas.getContext('2d');
          var dataURL;
          canvas.height = img.height;
          canvas.width = img.width;
          ctx.drawImage(img, 0, 0);
          dataURL = canvas.toDataURL("image/png");

          if (canvas.msToBlob) { //for IE
            var blob = canvas.msToBlob();
            window.navigator.msSaveBlob(blob, 'output.png');
          } else {
            var a = document.createElement('a');
            a.href = dataURL;
            a.download = "output.png";
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
          }
        };
        img.src = url;
      },

      _getPosition(e) {
        e.preventDefault();
        this.dragMeta.isDown = true;
        this.dragMeta.startX = e.pageX - this.dragMeta.imgContainer.offsetLeft;
        this.dragMeta.startY = e.pageY - this.dragMeta.imgContainer.offsetTop;
        this.dragMeta.offsetLeft = this.dragMeta.imgContainer.offsetLeft;
        this.dragMeta.offsetTop = this.dragMeta.imgContainer.offsetTop;
      },

      _disableDrag(e) {
        e.preventDefault();
        this.dragMeta.isDown = false;
      },

      _zoomPan(e) {
        if (!this.dragMeta.isDown) return;
        e.preventDefault();
        const x = e.pageX - this.dragMeta.imgContainer.offsetLeft;
        const y = e.pageY - this.dragMeta.imgContainer.offsetTop;
        const panX = x - this.dragMeta.startX;
        const panY = y - this.dragMeta.startY;

        this.dragMeta.imgWrapper.style.transform = 'translateX(' + panX + 'px' + ') translateY(' + panY + 'px' + ')';

      },

      initDragMeta() {
        this.dragMeta.imgContainer = document.querySelector('.shown-image');
        this.dragMeta.imgWrapper = document.querySelector('.selectedImgWrapper');
      },

      _addListenerForPanning() {
        this.dragMeta.imgContainer.addEventListener("mousedown", (e) => {
          this._getPosition(e);
        });
        this.dragMeta.imgContainer.addEventListener("mouseup", (e) => {
          this._disableDrag(e);
        });
        this.dragMeta.imgContainer.addEventListener("mouseleave", (e) => {
          this._disableDrag(e);
        });
        this.dragMeta.imgContainer.addEventListener("mousemove", (e) => {
          this._zoomPan(e);
        });
      },

      _removeListenerForPanning() {
        this.dragMeta.imgContainer.removeEventListener("mousedown", this._getPosition);
        this.dragMeta.imgContainer.removeEventListener("mouseup", this._disableDrag);
        this.dragMeta.imgContainer.removeEventListener("mouseleave", this._disableDrag);
        this.dragMeta.imgContainer.removeEventListener("mousemove", this._zoomPan);
      },

      _resetPanning() {
        this.scale = 1;
        this.rotateDeg = 0;
        this.dragMeta.isDown = false;
        this._removeListenerForPanning();
        this.dragMeta.imgWrapper.style.transform = this.buildTransformStyle(0, 1);
        this._resetTransformStyle();
      },

      onClickCheckBox(img, index) {
        let checkBoxId = this._createCheckBoxId(index);
        let isImageChecked = document.getElementById(checkBoxId).checked;
        if (isImageChecked) {
          if (!this.overlayActive) {
            this.chosenImages.push(img);
            this.choseCheckBoxIds.push({id: checkBoxId, index: index});
          } else {
            document.getElementById(checkBoxId).checked = false;
          }
        } else {
          if (this.chosenImages.includes(img)) {
            this.chosenImages = this.arrayRemove(this.chosenImages, img);
          }
        }
      },

      onCloseActionPanel() {
        this._resetCheckBox();
        this.choseCheckBoxIds = [];
        this.chosenImages = [];

      },

      _resetCheckBox() {
        console.log("aaaaa");
        console.log(this.choseCheckBoxIds);
        this.choseCheckBoxIds.forEach(checkbox => {
          console.log(checkbox.id);
          document.getElementById(checkbox.id).checked = false;
        });
        this.choseCheckBoxIds = [];
      }

    },
  };
</script>

<style scoped lang="scss">


  @mixin selectedImg() {
    z-index: 1000000;
    transform: scale(2);
    -webkit-transform: scale(2);
    padding-left: 2px;
    opacity: 1;
    position: relative;
  }

  @mixin makeCenter() {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
  }

  .vue-lightbox ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: block;
    // max-width: 780px;
    text-align: center;
    overflow: hidden;

    input[type="checkbox"][id^="imgChbk"] {
      display: none;
    }

    label {
      display: block;
      position: relative;
      cursor: pointer;
      background-color: #e8f0fe;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    label::before {
      background-color: white;
      color: white;
      content: " ";
      display: block;
      border-radius: 50%;
      border: 1px solid grey;
      position: absolute;
      top: 5px;
      left: 5px;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 28px;
      transition-duration: 0.4s;
      transform: scale(1);
      opacity: .3;

    }
    label:hover::before {
      background-color: white;
      transform: scale(1);
      z-index: 10;
      content: "\2713";
      font-weight: 900;
      color: black;
    }

    label img {
      transition-duration: 0.2s;
      transform-origin: 50% 50%;
      z-index: 10;
    }

    :checked + label {
      border-color: #ddd;
    }

    :checked + label::before {
      background-color: #1a73e8;
      transform: scale(1);
      z-index: 1;
      content: "\2713";
      font-weight: 900;
      opacity: 1;
      color: white;
    }

    :checked + label img {
      transform: scale(0.9);
      z-index: -1;
    }

    li {
      display: inline-block;
      padding: 5px;
      margin: 10px;
      overflow: hidden;

      img {
        display: block;
        width: 350px;
        border: 1px solid #DBDBDB;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        height: 350px;
      }

      /*img:hover {*/
      /*position: relative;*/
      /*box-shadow: 4px 7px 5px rgba(0, 0, 0, 0.2);*/
      /*!* position: relative;*/
      /*transform: translate(-0px, -10px);*/
      /*box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);*!*/

      /*}*/
    }
  }
  .action-panel-wrapper {
    position: fixed;
    width: 100%;
    margin-bottom: 10px;
    z-index: 2;
  }

  .action-panel {
    height: 65px;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    .action-icon {
      cursor: pointer;
      font-size: 20px;
      height: 47px;
      padding: 10px 0;
      text-align: center;
      width: 50px;
      border-radius: 50%;
      a {
        color: #dedede !important;
      }
      :hover {
        // color: gray;
        //background-color: gray;
      }

    }
    .action-icon:hover {
      background-color: #eaeaea;
    }
    .action-delete {
      margin-right: auto;
    }
  }

  .lightbox-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 2vh;
    box-sizing: border-box;
    z-index: 100;

    .img-tool {
      z-index: 1082;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      color: #dedede;
      display: inline;

      .tool-icon {

        cursor: pointer;
        float: right;
        font-size: 20px;
        height: 47px;
        line-height: 27px;
        padding: 10px 0;
        text-align: center;
        width: 50px;

        a {
          color: #dedede !important;
        }
        :hover {
          color: #ffffff;
        }
      }

      .icon-close {
        font-size: 25px !important;
      }
    }

    .holder {
      max-width: 100%;
      // margin: 0 auto;
      position: relative;
      //  max-height: 100vh;
      height: 100%;
      resize: vertical;
      // overflow: auto;

      .shown-image {
        height: 90%;
        @include makeCenter();
      }

      img {
        // width: 100%;
        max-width: 90%;
        cursor: pointer;
        box-sizing: border-box;
        //display: inline-block;
        max-height: 90%;
        // margin: 0 auto;

      }

      .info-panel {
        color: #ffffff;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        box-sizing: border-box;
        padding: 10px;
        max-height: 10vh;
        overflow: hidden;
        display: inline;

        .info-wrapper {
          //overflow: hidden;
          height: 50px;
          //width: 6000px;
        }

        img {
          width: 50px;
          display: inline;
          float: left;
          height: 50px;
          //overflow: hidden;
          opacity: 0.5;
          margin-left: 2px;
          transition: transform .1s ease-in;
        }

        img:hover {
          @include selectedImg();
        }

        .selected-img {
          @include selectedImg();
        }
      }
      .nav {
        max-width: 600px;
        margin: 0 auto;
        font-size: 16px;
        a {
          color: white;
          opacity: 0.3;
          -webkit-user-select: none;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
        }

        .next, .prev {
          position: absolute;
          top: 0;
          bottom: 0;
          padding: 10px;
          width: 10%;
          box-sizing: border-box;
          font-size: 40px;
          span {
            top: 45%;
            position: relative;
          }
        }
        .next {
          right: 0;
          text-align: right;
        }
        .prev {
          left: 0;
          text-align: left;
        }
        .close {
          right: 10px;
          top: 0;
          font-size: 30px;
          opacity: 0.6;
          z-index: 1000000;
          position: absolute;
          text-align: left;
          box-sizing: border-box;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  //transition
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
  {
    opacity: 0;
  }
</style>
