<template>
  <div id="app">
    <light-box :images="images"></light-box>
  </div>
</template>

<script>
  import LightBox from "./components/Gallery";
  import {
    auth,
    getImage, waitForScanning,
    listenToUploadImageEvent
  } from "./components/firebase/firebase.utils";

  export default {
    components: {LightBox},
    data() {
      return {
        sessionId : '',
        logIn: false,
        user: null,
        images: [
          {
            src: 'https://unsplash.it/501',
            caption: 'Image 1',
            id:'img1'
          },
          {
            src: 'https://unsplash.it/502',
            caption: 'Image 1',
            id:'img2'
          },
          {
            src: 'https://unsplash.it/503',
            caption: 'Image 1',
            id:'img3'
          },
          {
            src: 'https://unsplash.it/504',
            caption: 'Image 1',
            id:'img4'
          },
          {
            src: 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg/1280px-Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg',
            caption: 'Image 1',
            id:'img5',
          },

          {
            src: 'https://unsplash.it/505',
            caption: 'Image 1',
            id:'img6'
          },
          {
            src: 'https://unsplash.it/506',
            caption: 'Image 1',
            id:'img7'
          },
          {
            src: 'https://unsplash.it/507',
            caption: 'Image 1',
            id:'img8'
          },
          {
            src: 'https://unsplash.it/508',
            caption: 'Image 1',
            id:'img9'
          },
          {
            src: 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg/1280px-Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg',
            caption: 'Image 1',
            id:'img10'
          },

          {
            src: 'https://unsplash.it/509',
            caption: 'Image 1',
            id:'img11'
          },
          {
            src: 'https://unsplash.it/510',
            caption: 'Image 1',
          },
          {
            src: 'https://unsplash.it/511',
            caption: 'Image 1',
            id:'img12'
          },
          {
            src: 'https://unsplash.it/512',
            caption: 'Image 1',
            id:'img13'
          },
          {
            src: 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg/1280px-Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg',
            caption: 'Image 1',
            id:'img14'
          },

          {
            src: 'https://unsplash.it/513',
            caption: 'Image 1',
            id:'img15'
          },
          {
            src: 'https://unsplash.it/514',
            caption: 'Image 1',
            id:'img16'
          },
          {
            src: 'https://unsplash.it/515',
            caption: 'Image 1',
            id:'img17'
          },
          {
            src: 'https://unsplash.it/516',
            caption: 'Image 1',
            id:'img18'
          },
          {
            src: 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg/1280px-Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg',
            caption: 'Image 1',
            id:'img19'
          },

          {
            src: 'https://unsplash.it/517',
            caption: 'Image 1',
            id:'img20'
          },
          {
            src: 'https://unsplash.it/518',
            caption: 'Image 1',
            id:'img21'
          },
          {
            src: 'https://unsplash.it/519',
            caption: 'Image 1',
            id:'img22'
          },
          {
            src: 'https://unsplash.it/520',
            caption: 'Image 1',
            id:'img23'

          },
          {
            src: 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg/1280px-Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg',
            caption: 'Image 1',
            id:'img24'
          },

          {
            src: 'https://unsplash.it/521',
            caption: 'Image 1',
            id:'img25'
          },
          {
            src: 'https://unsplash.it/522',
            caption: 'Image 1',
            id:'img26'
          },
          {
            src: 'https://unsplash.it/523',
            caption: 'Image 1',
            id:'img27'
          },
          {
            src: 'https://unsplash.it/524',
            caption: 'Image 1',
            id:'img28'
          },
          {
            src: 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg/1280px-Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg',
            caption: 'Image 1',
            id:'img29'
          },
          {
            src: 'https://unsplash.it/525',
            caption: 'Image 1',
            id:'img30'
          },
          {
            src: 'https://unsplash.it/526',
            caption: 'Image 1',
            id:'img31'
          },
          {
            src: 'https://unsplash.it/527',
            caption: 'Image 1',
            id:'img32'
          },
          {
            src: 'https://unsplash.it/528',
            caption: 'Image 1',
            id:'img33'
          },{
            src: 'https://unsplash.it/529',
            caption: 'Image 1',
            id:'img34'
          },{
            src: 'https://unsplash.it/530',
            caption: 'Image 1',
            id:'img35'
          },{
            src: 'https://unsplash.it/531',
            caption: 'Image 1',
            id:'img36'
          },{
            src: 'https://unsplash.it/532',
            caption: 'Image 1',
            id:'img37'
          },{
            src: 'https://unsplash.it/533',
            caption: 'Image 1',
            id:'img38'
          },{
            src: 'https://unsplash.it/534',
            caption: 'Image 1',
            id:'img39'
          },{
            src: 'https://unsplash.it/535',
            caption: 'Image 1',
            id:'img40'
          },{
            src: 'https://unsplash.it/536',
            caption: 'Image 1',
            id:'img41'
          },
          {
            src: 'https://unsplash.it/537',
            caption: 'Image 1',
            id:'img42'
          },
          {
            src: 'https://unsplash.it/538',
            caption: 'Image 1',
            id:'img43'
          },
          {
            src: 'https://unsplash.it/539',
            caption: 'Image 1',
            id:'img44'
          },
          {
            src: 'https://unsplash.it/540',
            caption: 'Image 1',
            id:'img45'
          },
          {
            src: 'https://unsplash.it/541',
            caption: 'Image 1',
            id:'img46'
          },
          {
            src: 'https://unsplash.it/542',
            caption: 'Image 1',
            id:'img47'
          }
        ]
      }
    },
    async mounted () {
      await auth.signInAnonymously();
      console.log(auth.currentUser.uid);
      auth.currentUser.delete();
    },

    beforeDestroy() {

    }
  }
</script>

<style lang="scss">
</style>
